<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Keywords>
        <Keyword>test;class;initialization</Keyword>
      </Keywords>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Class Test Initialization</Title>
      <Author>Portilha</Author>
      <Description>Method to initialize a class of tests.</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>testclassinit</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp" Delimiter="$" Kind="method decl"><![CDATA[[ClassInitialize]
public static void InitializeClassTests(TestContext testContext)
{
    $end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>